.mySidenav {
    height: 40px;
}

.mySidenav span {
    display: inline-block;
    position: absolute; /* Position them relative to the browser window */
    left: -170px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 200px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 10px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    background-color: #2196F3;
}

.mySidenav span:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

.menu {
    padding: 10px;
    text-decoration: none; /* Remove underline */
    color: white; /* White text color */
}