:root {
    --main-bg-color: #6B818C;
    --msg-bg-color: #08415C;
}

.inputContainer {
    display: grid;
    grid-template-columns: 250px 50px 50px 1fr;
    padding: 5px;
    background-color: var(--main-bg-color);
}

.input {
    background-color: var(--msg-bg-color);
    color: #F1BF98
}

.error {
    border: 1px solid #CC2936;
}

.errorMessage {
    color: #CC2936;
}

.btn {
    background-color: var(--msg-bg-color);
    color: #F1BF98
}

.info {
    color: #EEE5E9;
    padding-left: 10px;
}